{% extends "uwe/base.html" %}
{% block title %}
  View Bookings
{% endblock %}
    {% load static %}
{% block content %}

<section class="contact-area contact-bg" data-background="{% static 'uwe/img/bg/contact_bg.jpg' %}" style="background-image: url('/static/uwe/img/bg/contact_bg.jpg');">
    
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <br><br>
            <!-- <div class="alert alert-danger" role="alert">
                Are you sure you want to cancel this booking?
            </div> -->
            <h3>Are you sure you want to cancel this booking?</h3>

            <br>
            <br>
            <p>
                <input class="btn btn-danger" type="submit" value="Confirm">
                <input class="btn btn-danger" type="submit" href="{% url 'view_bookings' %}" value="Cancel">
            </p>
        </form>
    </div>
</section>
{% endblock %}
