{% extends "uwe/base.html" %}
{% block title %}
  Contact Us
{% endblock %}
{% block content %}

  <div id="main1" style="display:flex;">
    <div class="left" style="text-align:left;" >
      <h1>Contact Us</h1>
      <p>Company Name: UWEFLIX</p>
      <p>Company Address: University of the West of England <br> Frenchay Campus <br> Coldharbour Lane <br> Bristol <br> BS16 1QY <br> United Kingdom</p>
      <p>Company Phone: 0117 965 6261</p>
      <p>Company Email: infopoint@uwe.ac.uk</p>
      <p>Days Open Information: Open Mon-Sun</p>
      <p>Opening Times: 9:00am</p>
      <p>Closing Times: 5:30pm</p>
    </div>

    <div class="right" style="text-align:right; padding-left: 50px; padding-top: 10px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5606445589224!2d-2.5547291842301973!3d51.502929579634305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718fa5b4e5f827%3A0xfef76b37b45ecccc!2sFrenchay%20Campus!5e0!3m2!1sen!2suk!4v1680170222257!5m2!1sen!2suk" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
{% endblock content %}
