<!doctype html>
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="{% static 'uwe/uwe.css' %}"/>

  <title>UWEFlix Login</title>
</head>
<body>
    <form  method="post">
        {% csrf_token %}
        <label for="username"></label>
        {{ form.username }}
        <label for="password"></label>
        {{ form.password }}
        <input type="submit" value="LOGIN" class="btn">
    </form>
</body>
</html>