{% extends "cinema/index.html" %}
{% load static%}
{% block content %}
<section class="contact-area contact-bg" data-background="{% static 'uwe/img/bg/contact_bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">


                <div class="contact-form">
    <h1>Booking: {{ showing.film.title }}</h1>
    <ul>
        <li><strong>Title: </strong>{{ showing.film.title }}</li>
        <li><strong>Description: </strong>{{ showing.film.description }}</li>
        <li><strong>Age rating: </strong>{{ showing.film.ageRating }}</li>
        <li><strong>Date: </strong>{{ showing.date }}</li>
        <li><strong>Screen name: </strong>{{ showing.screen }}</li>
        <li><strong>Start: </strong>{{ showing.startTime }}</li>

    </ul>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="showing_id" value="{{ showing.id }}">
        <button type="submit" class="btn">Book tickets</button>
    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
