{%extends "uwe/base.html"%}
{% load static %}

{%block content%}
<section class="services-area services-bg" data-background="{% static 'uwe/img/bg/services_bg.jpg' %}">
    <div class="container">
        <div class="row align-items-center">

            <div class="widget-title mb-2">
                {% if message %}
                <h5 class="alert" id="alert" style="width: 120%;border: 2px solid rgb(62, 62, 62); background-color: rgb(62, 62, 62); color: white;">{{ message }}</h5>
                {% endif %}
                <br>
                <h5 class="title">List Screens In Cinema</h5>
                <br>
            </div>
            
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Screen</th>
                    <th colspan="2">Actions</th>

                </tr>
                </thead>
                <tbody>
                {%for screen in screen_list%}
                <tr>
                    <th><a href="{% url 'cinema:show_screen' screen.id %}">{{screen}}</a>
                    </th>
                    <th>
                        <a href="{% url 'cinema:update_screen' screen.id %}" class="btn">Update</a>
                    </th>
                    <th>
                        <a href="{% url 'cinema:delete_screen' screen.id %}" class="btn">Delete</a>
                    </th>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    // Get a reference to the div element
    var myDiv = document.getElementById("alert");
    
    // Set a timeout to hide the div after 30 seconds
    setTimeout(function() {
    myDiv.style.display = "none";
    }, 10000); // 10 seconds in milliseconds
</script>
{%endblock%}