{% extends "uwe/base.html" %}
{% load static %}
{% block content %}

<section class="services-area services-bg" data-background="{% static 'uwe/img/bg/services_bg.jpg' %}">

    <div class="container">
        {% if message %}
        <h5 class="alert" id="alert" style="width: 120%;border: 2px solid rgb(62, 62, 62); background-color: rgb(62, 62, 62); color: white;">{{ message }}</h5>
        {% endif %}
        <br>
        <h1 scope="col">Accounts Activation Requests</h1>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">All Unactivated Accounts</th>
                </tr>
            </thead>
            <tbody>

            {% for account in accounts %}
            {% if accounts %}
            <tr>
                <td>
                    <a href="{% url 'cinema:activate_accounts' account.id %}">
                        {{ account.username }} ({{ account.firstName }} {{ account.lastName }})
                    </a>
                </td>
            </tr>
            
            {% else %}
            <td>
                <p>There are no account activation requests</p>
            </td>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% if userForm %}
        <form action="{% url 'cinema:activate_accounts' user.id %}" method="post">
            {% csrf_token %}
        
            <fieldset>
                <legend>
                    <h3>{{ user }}'s Account Details</h3>
                </legend>
        
                {% for field in userForm %}
                    <div class="fieldContainer">
                        <b>{{ field.label_tag }}</b> {{ field.value }}
                        {% for errors in field.errors %}
                            <div class="error">{{ errors }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
        
                <br><button type="submit" name="approve" value="Approve" class="btn btn-success">Approve</button>
                <button type="submit" name="deny" value="Deny" class="btn btn-success">Deny</button>
            </fieldset>
        </form>
        {% endif %}
        
    </div>
</section>
<script>
    // Get a reference to the div element
    var myDiv = document.getElementById("alert");
    
    // Set a timeout to hide the div after 30 seconds
    setTimeout(function() {
    myDiv.style.display = "none";
    }, 10000); // 10 seconds in milliseconds
</script>
{%endblock%}