<head>
  <title>Booking unsuccessful!</title>
</head>
{% extends "uwe/base.html" %}

{% load static%}
{%block content%} 

  <section class="movie-details-area" data-background="{% static 'uwe/img/bg/movie_details_bg.jpg' %}">
    <div class="container">
        <div class="row align-items-center">

    <p class="mt-3">Unfortunately your booking did not go through please try again! </p>
        </div>
    </div>
  </section>
{%endblock%}


<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>

</head>
<body>
  <section>
    <p>
      Unfortunately your booking did not go through please try again!
    </p>
  </section>
</body>
</html>