{% extends "uwe/base.html" %}
{% load static %}
{% block content %}

<!--<title>Create new user</title>-->

<section class="contact-area contact-bg" data-background="{% static 'uwe/img/bg/contact_bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">


                <div class="contact-form">


<form action="{% url 'accounts:createUser' %}"  method="post">
    {% csrf_token %}

    <fieldset>
        <legend>
            <h2>Create new user</h2>
        </legend>

        <!-- {% if userForm.errors %}
        {{ userForm.errors }}
        {% endif %}

        {{ userForm.as_p }} -->

        {% for field in userForm %}
            {% if field.name == "cardNumber" %}
                <h4>Payment Details</h4>
            {% endif %}

            <div class="fieldContainer">
                {{ field.label_tag }} {{ field }}
                {% for errors in field.errors %}
                    <div class="error">{{ errors }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <input class="btn mt-2" type="submit" name="submit" value="Submit">
    </fieldset>
</form>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}