{% extends "uwe/base.html" %}
{% load static %}
{% block content %}

<!--<title>Accounts Index</title>-->

<!--<h1>Accounts Index</h1>-->

<!--<h3><strong>All Users</strong></h3>-->

<!--<ul>-->
<!--    <li class="create"><a href="{% url 'accounts:createUser' %}">Create new User</a></li>-->

<!--    -->
<section class="services-area services-bg" data-background="{% static 'uwe/img/bg/services_bg.jpg' %}">
    <div class="container">
        {% if message %}
        <h5 class="alert" id="alert" style="width: 25%;border: 2px solid rgb(62, 62, 62); background-color: rgb(62, 62, 62); color: white;">{{ message }}</h5>
        {% endif %}
    </div>
    <div class="container">
        <a class="btn mb-2 float-right" href="{% url 'accounts:createUser' %}">Create new User</a>
        <div class=" align-items-center">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">User Name</th>
                </tr>
                </thead>
                <tbody>

                {% for user in userList %}
                {% if userList %}
                <tr>
                    <td>
                    <a href="{% url 'accounts:manageUser' user.id %}">
                        {{ user.username }} ({{ user.firstName }} {{ user.lastName }})
                    </a>
                    </td>
                </tr>
                {% else %}
                <td>
                    <p>There are no users</p>
                </td>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    // Get a reference to the div element
    var myDiv = document.getElementById("alert");
    
    // Set a timeout to hide the div after 30 seconds
    setTimeout(function() {
    myDiv.style.display = "none";
    }, 10000); // 10 seconds in milliseconds
</script>
<!--</ul>-->

{%endblock%}