{%extends "uwe/base.html"%}

{%block title%} Create new Club {%endblock%}

{% load crispy_forms_tags %}

{% block content %}

    <h2> Register a Club</h2>
    
        <br/>
        {% if submitted %}
            Your account was succesfully submitted
        {% else %}
        <form action="" method="POST" class="form-group">
            {%csrf_token%}

            {{form|crispy}}

            <button type="submit">Register</button>


        </form>
        {% endif %}

    <h3>Please <a href = "/">Login</a> First to be able to register </h3>

    
{%endblock%}