{% extends "uwe/base.html" %}

{% block content %}
  <h1>Settle Balance</h1>
  <p>Current balance: {{ balance }}</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Settle</button>
  </form>

  <h1>Transaction History</h1>

  {% if transactions %}
    <table>
      <thead>
        <tr>
          <th>  Club Name  </th>
          <th>  Date  </th>
          <th>  Balance  </th>
          <th>  Description  </th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions reversed %}
          <tr>
            <td>{{ transaction.club.clubName }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No transactions found.</p>
  {% endif %}
{% endblock %}
