{% extends "uwe/base.html" %}
{% load static%}
{% block title %}

view club

{%endblock%}
{% block content %}
<section class="services-area services-bg" data-background="{% static 'uwe/img/bg/services_bg.jpg' %}">
    <div class="container">
            <h1>{{ club }}</h1>
        <div class="row align-items-center">

            <div class="col-md-6 p-2 border">
                Club Name:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.clubName }}
            </div>
            <div class="col-md-6 p-2 border">
                Members:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.memberCount }}
            </div>
            <div class="col-md-6 p-2 border">
                Email:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.email }}
            </div>
            <div class="col-md-6 p-2 border">
                Landline Number:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.landlineNo }}
            </div>
            <div class="col-md-6 p-2 border">
                Mobile Number:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.mobileNo }}
            </div>
            <div class="col-md-6 p-2 border">
                Discount Rate:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.discount }}
            </div>
            <div class="col-md-6 p-2 border">
                Street Number:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.streetNo }}
            </div>
            <div class="col-md-6 p-2 border">
                Street Name:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.street }}
            </div>
            <div class="col-md-6 p-2 border">
                City:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.city }}
            </div>
            <div class="col-md-6 p-2 border">
                Postcode:
            </div>
            <div class="col-md-6 p-2 border">
                {{ club.postcode }}
            </div>
        </div>
    </div>
</section>
{%endblock%}