{% extends "uwe/base.html" %}

{% block title %}

view club

{%endblock%}

<br/>
{% block content %}

<ul> 
    <strong><h1>{{ club }}</h1></strong><br/>
    <li><strong>Club Name: </strong>{{ club.clubName }}</li> <br/>
    <li><strong>Members: </strong>{{ club.memberCount }}</li><br/>
    <li><strong>Email: </strong>{{ club.email }}</li><br/>
    <li><strong>Landline Number: </strong>{{ club.landlineNo }}</li><br/>
    <li><strong>Mobile Number:</strong> {{ club.mobileNo }}</li><br/>
    <li><strong>Discount Rate: </strong>{{ club.discount }}</li><br/>
    <li><strong>Street Number:</strong> {{ club.streetNo }}</li><br/>
    <li><strong>Street Name: </strong>{{ club.street }}</li><br/>
    <li><strong>City:</strong> {{ club.city }}</li><br/>
    <li><strong>Postcode: </strong>{{ club.postcode }}</li><br/>

  </ul> 


<h3>Please <a href = "/">Login</a> First to be able to register </h3>


{%endblock%}